<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
        <div class="col-xs-12" ng-if="!showDish">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showDish">
            <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                Back to Menu
            </button>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail"
                             ng-src={{dish.image}}>
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{dish.name}}
                        <span class="label label-danger">{{dish.label}}</span>
                        <span class="badge">{{dish.price | currency}}</span>
                    </h2>

                    <p>{{dish.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <p class="lead">Customer Comments <span class="small text-muted">Sort by:</span>
                <input type="text" name="sortby" ng-model="sortBy"></p>
            <blockquote ng-repeat="comments in dish.comments | orderBy: sortBy">
                <p>{{comments.rating}} Stars</p>

                <p>{{comments.comment}}</p>
                <footer>{{comments.author}}, {{comments.date | date: mediumDate}}</footer>
            </blockquote>
        </div>

        <div class="col-xs-9 col-xs-offset-1" ng-controller="CommentController">
            <ul class="list-unstyled"
                ng-show="information.author || information.comment">
                <li>
                    <blockquote>
                        <p>{{information.rating}} Stars</p>

                        <p>{{information.comment}}</p>
                        <footer>{{information.author}}, {{information.date | date: mediumDate}}</footer>
                    </blockquote>
                </li>
            </ul>
            <form class="form-horizontal" name="commentForm" ng-submit="sendComment()" novalidate>
                <div class="form-group"
                     ng-class="{ 'has-error' : commentForm.name.$error.required && !commentForm.name.$pristine }">
                    <label class="col-sm-2 control-label">Your Name</label>

                    <div class="col-sm-10">
                        <input type="text"
                               name="name"
                               class="form-control"
                               placeholder="Enter Your Name"
                               ng-model="information.author" required>
                        <span ng-show="commentForm.name.$error.required && !commentForm.name.$pristine"
                              class="help-block">Your Name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Number of Stars</label>

                    <div class="col-sm-10">
                        <label class="radio-inline" ng-repeat="stars in [1,2,3,4,5]">
                            <input type="radio"
                                   ng-value="stars"
                                   ng-model="information.rating"
                                    >
                            {{stars}}</label>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                    <label class="col-sm-2 control-label">Your Comments</label>

                    <div class="col-sm-10">
                        <textarea class="form-control"
                                  rows="12"
                                  name="comment"
                                  ng-model="information.comment"
                                  placeholder="Enter Comments"
                                  required>
                        </textarea>
                        <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine"
                              class="help-block">Your comments are required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Send Feedback
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>