<div class="container">
    <div class="row row-content"
         ng-controller="MenuController">
        <div class="col-xs-12" ng-if="!showMenu">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showMenu">
            <button ng-click="toggleDetails()"
                    class="btn btn-xs btn-primary pull-right"
                    type="button">
                {{showDetails ? 'Hide Details':'Show Details'}}
            </button>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"
                    ng-class="{active:isSelected(1)}">
                    <a ng-click="select(1)"
                       aria-controls="all menu"
                       role="tab">The Menu</a></li>
                <li role="presentation"
                    ng-class="{active:isSelected(2)}">
                    <a ng-click="select(2)"
                       aria-controls="appetizers"
                       role="tab">Appetizers</a></li>
                <li role="presentation"
                    ng-class="{active:isSelected(3)}">
                    <a ng-click="select(3)"
                       aria-controls="mains"
                       role="tab">Mains</a></li>
                <li role="presentation"
                    ng-class="{active:isSelected(4)}">
                    <a ng-click="select(4)"
                       aria-controls="desserts"
                       role="tab">Desserts</a></li>
            </ul>

            <div class="tab-content">
                <ul class="media-list tab-pane fade in active">
                    <li class="media" ng-repeat="dish in dishes | filter:filtText">
                        <div class="media-left media-middle">
                            <a ui-sref="app.dishdetails({id: dish.id})">
                                <img class="media-object img-thumbnail"
                                     ng-src={{dish.image}} alt="Uthappizza">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                                <span class="label label-danger">{{dish.label}}</span>
                                <span class="badge">{{dish.price | currency}}</span></h2>

                            <p ng-show="showDetails">{{dish.description}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
